= semantic_form_for [:admin, resource] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    ~ f.text_area :description
  = f.submit data: { disable_with: '请稍等...' }

:javascript
  $(function() {
    dpEditor.call($('#visa_description'), $('form.visa'));
  });