.shipping_method_region_select{
  span{
    font-family: 'Helvetica', 'Arial', serif;
    font-weight: bold;
    padding: 6px;
    margin: 8px 4px 8px 4px;
    margin-left: 10px;
  }

  div{
    margin-top: 10px;
  }

  .blue {
    background: cornflowerblue;
  }

  button{
    margin-left: 13px;
  }
}