%div.sources
  %div.hotels.hidden
    %form{class: 'search_hotels_form left', action: admin_hotels_path(format: :json, per_page: 10), data: { remote: true }}
      %input{name: 'q[title_contains]', type: 'search', id: 'input_search_hotels'}
      %input{name: 'q[published_eq]', type: 'hidden', value: 'true'}
      %input{name: 'submit', type: 'submit', value: '搜索', id: 'btn_search_hotels'}
    %table
      %thead
        %tr
          %th 赛事ID
          %th 赛事标题
      %tbody

  %div.infos.hidden
    %form{class: 'search_infos_form left', action: admin_infos_path(format: :json, per_page: 10), data: { remote: true }}
      %input{name: 'q[title_contains]', type: 'search', id: 'input_search_infos'}
      %input{name: 'q[published_eq]', type: 'hidden', value: 'true'}
      %input{name: 'submit', type: 'submit', value: '搜索', id: 'btn_search_infos'}
    %table
      %thead
        %tr
          %th 资讯ID
          %th 资讯标题
      %tbody