%div
  %div
    %form{class: 'search_user_form left', action: admin_users_path(format: :json, per_page: 10), data: { remote: true }}
      %input{name: 'q[nick_name_or_mobile_contains]', type: 'search', id: 'input_search_user'}
      %input{name: 'submit', type: 'submit', value: '搜索', id: 'btn_search_user'}

  %table.users
    %thead
      %tr
        %th 头像
        %th 昵称
        %th 手机号
    %tbody