%div
  %table.index_table
    %thead
      %tr
        %th 头像
        %th 昵称
    %tbody
      - @followings.each do |user|
        %tr
          %td= avatar_profile(user, size: 60)
          %td= user.nick_name
  %div.index_foot
    = paginate(@followings)
